/.idea/
/log/
*.class
*.iml
/T-Manager/target/
/T-Manager/bin/
tm-frontend/node_modules_old/
tm-frontend/node_modules/
tm-frontend/dist/
*.xml
T-Manager/.classpath
T-Manager/.settings/
T-Manager/.factorypath
